:root {
	--bg: #ffffff; /* main backround */
	--bg-hd: #722F37; /* background header */
	--txt-hd: #ffffff; /* font header */
	--hover: #505050; /* text on hover */
	--bg-txt: #ffffff; /* background textbox */
	  --bg-ft: #34495e; /* background footer */
	  --txt-ft: #ffffff; /* font footer */
	  --txt: #000000; /* font */
	  --txt-link: #378ad8; /* color hyperlink */
  } /* Color pallet */
  
		  body {
			  font-family: 'Montserrat', sans-serif; /* letter type */
			  background-color: var(--bg); /* achtergrond */
			  overflow-x: hidden; /* scrollbar links/rechts */
			  margin: 0px; /* geen rand rond scherm */
		  } /* basic stuff */
		  header {
			  background-color: var(--bg-hd); /* achtergrond */
			  color: var(--txt-hd); /* kleur letters */
			  display: flex; /* blijft boven aan */
			  padding: 1%; /* geen gay text */
			  align-items: center; /* text blijf in het midden */
			  width: 100%
		  } /* balk boven aan */
			  header h1 {
				  font-size: 36px; /* letter grote */
				  margin: 0%; /* compactere title */
			  } /* title in balk */
			  header nav ul {
				  list-style: none; /* geen bolletjes */
				  display: flex; /* vaste positie */
			  } /* balk linkjes */
				  header nav ul li a {
					  color: var(--txt-hd); /* kleur link text */
					  text-decoration: none; /* geen onder lijn */
					  font-weight: bold; /* is gwn clean */
					  margin: 0 10px; /* geen overlapping */
				  } /* balk linkjes v2 */
					  header nav ul li a:hover {
						  color: var(--hover);
					  } /* balk linkjes hover */
		  section {
			  background-color: var(--bg-txt); /* achtergrond textbox */
			  padding: 10px; /* text binnen de randjes */
			  border-radius: 25px; /* onhoekige hoekjes */
			  margin: 2%; /* geen overlapping */
			  margin-bottom: 2%; /* geen overlapping */
			  margin-top: 2%; /* geen overlapping */
			  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* schaduw textbox */
		  } /* Individueele text box */ 
			  section h2 {
				  font-size: 24px;
				  color: var(--txt);
			  } /* grote kopjes */
			  section p {
				  font-size: 16px;
				  line-height: 1.4;
				  color: var(--txt);
			  } /* grote text */
			  section a {
				  color: var(--txt-link);
				  text-decoration: none;
				  font-style: italic;
			  }
		  footer {
			  background-color: var(--bg-ft); /* achtergrond footer */
			  color: var(--txt-ft); /* text kleur footer */
			  padding: 20px; /* afstand tussen rand en text */
			  text-align: center; /* text in het midden */
			  font-size: 14px; /* letter grote */
			  width: 100%; /* breedte hele scherm */
			  position: flex;
		  } /* footer */
			  footer p {
				  margin: 0%;
			  } /* text footer */
  
  /* als het scherm kleiner is dan 768px gaat de header er anders uit zien, het wordt op elkaar gestapeld */
		@media screen and (max-width: 768px) {
		  header {
			flex-direction: column;
			padding: 3%;
		  }
		  header h1 {
			font-size: 24px;
			text-align: center;
		  }
  }
